*{
    font-size: calc(14px + (22 - 14) * ((100vw - 400px) / (1600 - 300)));
    line-height: calc(1.3em + (1.4 - 1.0) * ((100vw - 400px)/(1600 - 300)));
    text-align: center;
}
.dashContent{
    padding: 1.5rem;
}

.btn-group{
    min-width: 75%;

}
.btn-yellow{
    background-color: #fcf7ad;
    color: #343a40;
    width: 33.3%;
}

.btn-yellow-dashboard{
    background-color: #fcf7ad;
    color: #343a40;
    width: 50%;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #343a40;
    background-color: #ffe600;
    border-color: #343a40;
    font-weight: bolder;
}

.focus{
    background-color: rgb(255, 234, 116);
}

.dashBody {
    text-align: center;

}

.table .thead-secondary th {
    color: #343a40;
    background-color: #ffe600;
    border-color: #32383e;
    padding: 5px;
    width: 33.3%;
}

.table tr th td {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.bg-yellow{
    background-color: #ffe600;
    margin-top: -30px;
}

.dashLeft{
    width: auto;
    height: 85vh;
    background-color: #dee2e6;
}

.dashRight{
    padding-left: 15px;
}

.navbar{
    margin: 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1vh;
    margin-left: -2vh;
    background-color: #f1f1f1;
    max-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: #f1f1f1;}

  .justify{
      text-align: justify;
  }

  ul {
    list-style-type: none;
    padding: 0;
}

.resultTable{
    margin: 2rem;
    max-width: 600px;
    margin: auto;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 0, 0.336);
}