.dashComponents{
    height: 80px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    margin: 2px;
}

.boxComponent{
    height: 80px;
    width: 100%;
}


.buttonOptions{
    height: 37px;
    width: 75px;
    margin: 2px;
    padding: 0;
}