body{
    color: #2f3236;
}
.dropdown-item {
    display: block;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #fff;
    border: 0;
    margin: 0;
}
.dropdown-item:hover{
    background-color: #62aeff;
}
.dropdown-content {
    display: none;
    position: absolute;
    /* margin-top: 1vh; */
    margin-left: -2vh;
    background-color: transparent;
    z-index: 1;
    width: fit-content;
    max-width: inherit;
}
ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    text-align:  left;
}
.btn-outline-secondary {
    color: darkslategray;
    border-color: lightgray;
}





